/*
* Colors
*/
$color-gray-light: #FEFEFE;
$color-yellow: #F6CC47;
$color-yellow-dark: #E19356;
$color-gray: #E5E6DD;
$color-dark-gray: #7A807C;
$color-concrete-gray: #A9C6D0;
$color-blue: #5780C2;
$color-pink: #F5D5A6;